<div class="box box-solid">
  <div class="box-header">
    <i class="fa fa-shopping-cart"></i>
    <h3 class="box-title">Carrinho</h3>
  </div>

  <div class="box-body">
    <div class="table-responsive">

      <div class="text-center" *ngIf="this.getCartItens().length == 0">
        <small>
          Não há itens no carrinho, comece a adicionar para matar a sua fome!
        </small>
      </div>

      <table class="table" *ngIf="this.getCartItens().length > 0">
        <tbody>
          <tr *ngFor="let item of this.getCartItens()">
            <th style="width:60%">({{item.quantity}}x) {{item.item.name}}</th>
            <td class="text-right">{{item.getPrice() | currency : 'BRL' : true}}</td>
            <td>
              <a (click)="removeItem(item)" style="cursor: pointer;" class="text-danger">
                <i class="fa fa-trash"></i>
              </a>
            </td>
          </tr>
          <tr>
            <th style="width:60%">Total: </th>
            <td class="text-right">{{getTotal() | currency : 'BRL' : true}}</td>
            <td></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

  <div class="box-footer">
    <button type="button" (click)="clearCart()" class="btn btn-danger"><i class="fa fa-trash"></i> Limpar</button>
    <div class="pull-right">
      <button (click)="redirectToOrder()" [disabled]="this.getCartItens().length == 0" class="btn btn-success">
        <i class="fa fa-credit-card"></i> Fechar Pedido
      </button>
    </div>
  </div>
</div>
