<!--INICIO DO CONTEUDO-->
<section class="content-header">
</section>

<section class="content">
  <section class="invoice">

    <form #orderForm="ngForm">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
          </h2>
        </div>
      </div>

      <div class="row invoice-info">
        <div class="col-xs-12">
          <p class="lead">Endereço de Entrega:</p>
        </div>
        <div class="col-sm-6 col-xs-12">
          <mt-input-container [errorMessage]="'O endereço é obrigatório e deve possuir pelo menos 5 caracteres'">
            <input type="text" ngModel required minlength="5" name="address" class="form-control" placeholder="Endereço">
          </mt-input-container>
        </div>
        <div class="col-sm-2 col-xs-6">
          <mt-input-container [errorMessage]="'O número é obrigatório'">
            <input type="text" ngModel required name="number" class="form-control" placeholder="Número">
          </mt-input-container>
        </div>
        <div class="col-sm-4 col-xs-6">
          <mt-input-container>
            <input type="text" ngModel name="complement" class="form-control" placeholder="Complemento">
          </mt-input-container>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- Table row -->
      <div class="row">

        <div class="text-center" style="margin-bottom: 3%" *ngIf="this.getItens().length == 0">
          <span>
            Não existem itens no seu carrinho para compra. Que tal dar uma <a [routerLink]="['/restaurants']">olhada</a> em nossos restaurantes?
          </span>
        </div>

        <div *ngIf="this.getItens().length > 0">
          <div class="col-xs-12">
            <p class="lead">Itens do Pedido:</p>
          </div>
          <div class="col-xs-12 table-responsive">

            <table class="table table-striped">
              <thead>

                <tr>
                  <th class="text-center">Quantidade</th>
                  <th>Item</th>
                  <th>Descrição</th>
                  <th class="text-right">Preço Unit.</th>
                  <th class="text-right">Subtotal</th>
                  <th class="text-right"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cartItem of this.getItens()">
                  <td class="text-center">
                    <a class="btn btn-sm" (click)="decrementQuantity(cartItem)"><i class="fa fa-minus"></i></a>
                    {{ cartItem.quantity }}
                    <a class="btn btn-sm" (click)="incrementQuantity(cartItem)"><i class="fa fa-plus"></i></a>
                  </td>
                  <td>{{ cartItem.item.name }}</td>

                  <td>{{ cartItem.item.description }}</td>
                  <td class="text-right">{{ cartItem.item.price | currency: 'BRL': true }}</td>
                  <td class="text-right">{{ cartItem.getPrice() | currency: 'BRL': true }}</td>
                  <td class="text-right">
                    <a class="btn btn-sm danger" (click)="removeItem(cartItem)"><i class="fa fa-remove"></i></a>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
          <!-- /.col -->
        </div>

      </div>
      <!-- /.row -->

      <div class="row">
        <!-- accepted payments column -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Formas de Pagamento:</p>

          <mt-radio-option required name="paymentOption" ngModel [options]="paymentOptions">
          </mt-radio-option>

        </div>
        <!-- /.col -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Frete e Total:</p>

          <div class="table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <th style="width:50%">Itens:</th>
                  <td class="text-right">{{ this.getCartTotal() | currency: 'BRL' : true }}</td>
                </tr>
                <tr>
                  <th>Frete:</th>
                  <td class="text-right">{{ this.getFreightValue(orderForm.value) | currency : 'BRL' : true }}</td>
                </tr>
                <tr>
                  <th>Total:</th>
                  <td class="text-right">{{ this.getCartTotal() + this.getFreightValue(orderForm.value) | currency : 'BRL' : true }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- /.col -->
      </div>

    </form>

    <div class="row">
      <div class="col-xs-12">
        <button [disabled]="orderForm.invalid || this.getItens().length == 0" (click)="checkoutOrder(orderForm.value)" class="btn btn-success pull-right">
          <i class="fa fa-credit-card"></i> Concluir Pedido
        </button>
      </div>
    </div>

  </section>
</section>
<!-- FIM DO CONTEUDO-->
